.breadcrumb-item+.breadcrumb-item::before{
    content: ">";
    font-size: 1.1rem;
    color: red;
}

.carousel-indicators li{
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.carousel-inner{
    border-radius: 10px;
}
.heading{
    font-weight: 600;
    color: white;
}
.form-register{
    background-color: rgb(221, 153, 28);
    padding: 10px;
    border-radius: 10px;
    filter: drop-shadow(0px 0px 10px black);
}
label{
    font-size: 1.3rem;
    color: darkred;
}

.heading-success{
    color: green;
    font-weight: 600;
}